nav {
  background-color: blue;
  height: 30px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}
.active {
  visibility: visible;
  transition: all 0.5s;
}
.hidden {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
}
